@page "/"
@inject IJSRuntime JSRuntime

<h1 @ref="title">Hello, world!</h1>

Welcome to your new app.


@code{
ElementRef title;
    protected override void OnAfterRender()
    {
            
            JSRuntime.InvokeAsync<object>(
                "Tools.SetText",
                "OnAfterRender was Triggered",  //You can set the title here
                title);
        
    }
}